.st0 {
  fill: #D72A80;
}
.st1 {
  filter: url(#Adobe_OpacityMaskFilter);
}
.st2 {
  mask: url(#SVGID_1_);
}
.st3 {
  fill: #ffffff;
}
.st4 {
  font-family: "Aeroport-Light";
}
.st5 {
  font-size: 24.268px;
}
.st6 {
  fill: #5b3289;
}
.st7 {
  fill: #50ae48;
}
.st8 {
  fill: #01519c;
}
.st9 {
  fill: #f48120;
}
